resolveLoader: {
    alias: {
      'style': path.resolve(__dirname, '..', 'node_modules/style-loader'),
      'css': path.resolve(__dirname, '..', 'node_modules/css-loader'),
      'hashed-css': path.resolve(__dirname, '..', 'node_modules/css-loader?modules&importLoaders=2&sourceMap&localIdentName=[local]___[hash:base64:5]'),
      'sass': path.resolve(__dirname, '..', 'node_modules/sass-loader')
    }
  }
